* {
  border-radius: 3px;
  border: none;
}

window {
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  border-bottom: 3px solid white; 
}

#antry {
  padding: 0.25em;
}

#entry:selected {
  background-color: #bbccdd;
  background: linear-gradient(90deg, #bbffdd, #dd77ff);
}

#text:selected {
  color: #333333;
}

#input {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 0.25em;
}

image {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
